[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/raviteja406
[access "refs/for/refs/*"]
	read = group user/raviteja406
	push = group user/raviteja406
	label-Code-Review = -2..+2 group user/raviteja406
	label-Verified = -1..+1 group user/raviteja406
	rebase = group user/raviteja406
	removeReviewer = group user/raviteja406
	submit = group user/raviteja406
[access "refs/heads/*"]
	read = group user/raviteja406
	create = group user/raviteja406
	push = +force group user/raviteja406
	pushMerge = group user/raviteja406
[access "refs/tags/*"]
	push = group user/raviteja406
	push = +force group user/raviteja406
